@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Play);
@import url(http://fonts.googleapis.com/css?family=Monoton);

/*    Reset CSS  */
* {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}
a {
  outline: 0;
  text-decoration: none;
  color: #bbb;
}
img {
  border: 0;
}
body {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #141414;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* <weight>: Use a value from 100 to 900 */

/* 배경동영상 */
.vid {
  position: fixed;
  width: 100%;
  height: 100%;
  top: -10px;
  left: 0;
  opacity: 0.8;
}
.vid video {
  width: 100%;
  min-width: 1600px;
}

/*로고*/
h1 {
  position: fixed;
  top: 40px;
  left: 40px;
  width: 280px;
  z-index: 10;
}
h1 img {
  width: 100%;
  height: auto;
}
/* 헤더 */
header {
  position: fixed;
  top: -600px;
  left: -600px;
  width: 1300px;
  height: 1100px;
  background: linear-gradient(
    -45deg,
    rgba(185, 251, 5, 0.7),
    rgba(241, 211, 40, 0.7),
    rgba(239, 178, 55, 0.7)
  );
  border-radius: 50%;
  overflow: hidden;
}

/* 1depth*/
/* 부모 태그가 fixed이고 자식태그가 absolute면 부모태그에 대해 위치고정됨. */
#gnb {
  display: inline-block;
  position: absolute;
  bottom: 100px;
  min-width: 200px;
  right: 160px;
  transform: matrix3d();
  transform: skewX(-45deg);
}
#gnb > li {
  position: relative;
  width: 300px;
  padding-left: 40px;
  margin-right: -100px;
  height: 60px;
  border-radius: 4px;
  text-align: left;
  /* transform: skewX(45deg); */
}
#gnb li a {
  font-weight: 900;
  color: #111;
  line-height: 2.5;
}
#gnb > li > a {
  line-height: 60px;
}
#gnb:first-child {
  padding-left: 40px;
}
#gnb em {
  display: inline-block;
  transform: skewX(40deg);
}
#gnb > li:hover {
  background-color: #111;
}
#gnb > li:hover a {
  color: #fff;
}

/* 2depth */
#gnb .twoDepth {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 00px;
  opacity: 1;
}
#gnb > li:hover > .twoDepth {
  background-color: red;
}

/* sns 버튼 모음*/

/* contents 레이아웃 */

/* contents내 썸네일 */

/* 자동롤링 버튼*/

@keyframes ani {
  0% {
    right: 0px;
    transform: sclae(1);
    opacity: 1;
  }
  100% {
    right: 100px;
    transform: scale(1.5);
    opacity: 0;
  }
}
