@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Play);
@import url(http://fonts.googleapis.com/css?family=Monoton);

/*    Reset CSS  */
* {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}
a {
  outline: 0;
  text-decoration: none;
  color: #bbb;
}
img {
  border: 0;
}
body {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #141414;
}

/* 배경동영상 */
.vid {
  position: fixed;
  width: 100%;
  height: 100%;
  top: -10px;
  left: 0;
  opacity: 0.8;
}
.vid video {
  width: 100%;
  min-width: 1600px;
}

/*로고*/
h1 {
  position: fixed;
  top: 40px;
  left: 40px;
  width: 280px;
  z-index: 10;
}
h1 img {
  width: 100%;
  height: auto;
}
/* 헤더 */
header {
  position: fixed;
  top: 0;
  left: -420px;
  width: 700px;
  height: 100%;
  background: linear-gradient(
    -45deg,
    rgba(236, 127, 31, 0.7),
    rgba(185, 251, 5, 0.7),
    rgba(63, 181, 196, 0.7)
  );
  transform: skewX(-40deg);
}

/* 1depth*/
/* 부모 태그가 fixed이고 자식태그가 absolute면 부모태그에 대해 위치고정됨. */
#gnb {
  position: absolute;
  top: 150px;
  right: 0px;
  width: 200px;
}
#gnb > li {
  position: relative;
  width: 100%;
  height: 60px;
  text-align: center;
}
#gnb > li > a {
  font: bold 18px/60px arial;
  color: #111;
}
#gnb em {
  display: inline-block;
  transform: skewX(40deg);
}
#gnb > li:hover {
  background-color: #111;
}
#gnb > li:hover a {
  color: #fff;
}

/* 2depth */
#gnb ul {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  transition: all 0.4s;
}
#gnb > li:hover ul {
  opacity: 0.8;
  left: 205px;
}
#gnb ul a {
  display: block;
  width: 150px;
  height: 40px;
  background: #222;
  border-bottom: 1px solid #b9fb05;
  font: bold 16px/2.5 arial;
  color: #fff;
  box-sizing: border-box;
  padding-left: 50px;
  margin-bottom: 3px;
  transition: all 0.5s;
}
#gnb ul a:hover {
  background: #b9fb05;
  color: #333;
}
#gnb > li.on ul {
  opacity: 0.8;
  left: 205px;
  top: -10px;
}
#gnb li.on ul a {
  background: #444;
  opacity: 0.7;
}

/* sns 버튼 모음*/

/* contents 레이아웃 */

/* contents내 썸네일 */

/* 자동롤링 버튼*/

@keyframes ani {
  0% {
    right: 0px;
    transform: sclae(1);
    opacity: 1;
  }
  100% {
    right: 100px;
    transform: scale(1.5);
    opacity: 0;
  }
}
